extends ../layout

block content

    body
        // hero area
        .hero-area.hero-bg
            .container
                .row
                    .col-lg-9.offset-lg-2.text-center
                        .hero-text
                            .hero-text-tablecell
                                p.subtitle #{description}
                                h1 #{titel}
                                .hero-btns
        // end hero area

    .mt-150
        .container
            .row
                .col-lg-8.offset-lg-2.text-center
                    .section-title
                        h3
                            | Grimmix
                        p
                            | SEPTEMBER - DECEMBER
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 11 september: Intro 14u-17u
                            p(style="text-align:justify;")
                                | Het scoutsjaar is weer begonnen! Iedereen is welkom van 14-17 aan de lokalen. Neem jullie beste vriendjes mee en maak je klaar voor een echte scoutsvergadering.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 18 september: Overgang 14u-17u
                            p(style="text-align:justify;")
                                | Info volgt via mail en hou de facebookpagina in de gaten!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 25 september: Thuis 14u-17u
                            p(style="text-align:justify;")
                                | We blijven nog even in ons thuisland. We zullen een tocht maken door verschillende steden
                                | van België. Zo zullen we ons land en elkaar beter leren kennen. Kom van 14-17 naar de
                                | lokalen. Tot dan!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 2 oktober: Nederland 14u-17u
                            p(style="text-align:justify;")
                                | Nouuu wat leuk, een bezoekje aan onze noorderburen! Is Gouda jullie lievelingskaas en
                                | draag je graag klompen, dan ben je aan het juiste adres! Trek allemaal maar iets oranje aan
                                | en kom van 14-17 aan ons hutje (lokalen) in de Koude Keuken staan! Doeeegggg
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/nederland.png', alt='', style='width:250px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 9 oktober: Oktoberfest 14u-17u
                            p(style="text-align:justify;")
                                | Guten Tag Frauen, in Deutschland ist Oktoberfest und wir lassen es uns nicht entgehen. Zieh
                                | dir dein Dirndl an und mach dich bereit für eine große Party! Kommen Sie von 14-17 Uhr in
                                | die Klassenzimmer. Dann töte Freunde!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 16 oktober: Ontbijtje 14u-17u
                            p(style="text-align:justify;")
                                | Bonjour les femmes, venez dans les locaux du 10 au 12 pour profiter d&#39;un bon petit
                                | déjeuner français. N&#39;oubliez pas d&#39;apporter 3 euros (pas de centimes rouges svp). Au
                                | revoir!!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/ontbijt.jfif', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 22 oktober: Dag van de jeugdbeweging 14u-17u
                            p(style="text-align:justify;")
                                | Vergeet zeker niet vandaag rond te lopen in jullie scoutsuniform!!! Want het is Dag Van De
                                | Jeugdbeweging, loop er maar met trots mee rond!! Tot morgen kabbies
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 23 oktober: Japan 14u-17u
                            p(style="text-align:justify;")
                                | おい! 日本の雰囲気を味わうために、今日は提灯と折り紙を作るクラフトミーティ
                                | ングです。 14〜17歳の教室に来てください。 それまで!!
                                | Konnichiwa! Nihon no fun&#39;iki o ajiwau tame ni, kyō wa chōchin to origami o tsukuru kurafutomītingudesu.
                                | 14 〜 17-Sai no
                                | kyōshitsu ni kite kudasai. Sore made! !
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 30 oktober: Scotland 14-17u
                            p(style="text-align:justify;")
                                | Put on your kilt and sturdy shoes, today we are in Scotland. We play traditional Scottish
                                | games, with the beautiful sound of the bagpipes in the background, from 14-17 to the
                                | Scouts.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 6 november: Mexico 14u-17u
                            p(style="text-align:justify;")
                                | Ola chicas! Cuando escuchas México piensas en buena comida. Nos presentaremos a la
                                | cocina mexicana de 17:30 a 20:00 en las instalaciones. Ponte el sombrero y no olvides el
                                | bigote. ¡¡Asegúrate de traer 4 euros contigo !!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/mexico.png', alt='', style='width:150px;')

    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 13 november: Herfstwandeltocht
                            p(style="text-align:justify;")
                                | Info volgt later!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 19-20 november: Weekend
                            p(style="text-align:justify;")
                                | Jippiee het eerste weekend van het scoutsjaar is een feit. Info volgt later!!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 27 november: Cold kitchen 14u-17u
                            p(style="text-align:justify;")
                                | Vieni in nero, il boss ti aspetta dalle 14-17 nella Cold Kitchen!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 4 december: Sinterklaas 16u-18u
                            p(style="text-align:justify;")
                                | Zie, ginds komt de stoomboot, uit Spanje weer aan! Hij brengt ons Sint Nicolaas. Ik zie hem al
                                | staan. Hoe huppelt zijn paardje het dek op en neer, hoe waaien de wimpels al heen en al
                                | weer.
                                | De Sint komt een bezoekje brengen van 16u-18u in de scouts!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/sint.jfif', alt='', style='width:150px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 11 december: Rusland 14u-17u
                            p(style="text-align:justify;")
                                | Сегодня вы идете по стопам российских шпионов (КГБ). Приходите в класс с 14-17
                                | тепло и хорошо одетыми!
                                | Segodnya vy idete po stopam rossiyskikh shpionov (KGB). Prikhodite v klass s 14-17 teplo i khorosho odetymi!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100

    // end prog_kapoenen section