extends ../layout

block content

    body
        // hero area
        .hero-area.hero-bg
            .container
                .row
                    .col-lg-9.offset-lg-2.text-center
                        .hero-text
                            .hero-text-tablecell
                                p.subtitle #{description}
                                h1 #{titel}
                                .hero-btns
        // end hero area

    .mt-150
        .container
            .row
                .col-lg-8.offset-lg-2.text-center
                    .section-title
                        h3
                            | Grimmix
                        p
                            | SEPTEMBER - DECEMBER
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 11 september: Intro 14u-17u
                            p(style="text-align:justify;")
                                | Het scoutsjaar is weer begonnen! Iedereen is welkom van 14-17 aan de lokalen. Neem jullie beste vriendjes mee en maak je klaar voor een echte scoutsvergadering.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-150
        .container
            .row
                .col-lg-8
                    h3
                        | Getuigenissen
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 18 september: Overgang 14u-17u
                            p(style="text-align:justify;")
                                | Amai, ik heb de scouts zo hard gemist! Eindelijk kunnen we
                                | elkaar terug elke week zien. En dat zonder coronaregels!! Ik
                                | heb wel beetje stress, want wij moeten overgaan. Maar daarna
                                | is het leidingsverdeling en een mega lekkere BBQ. En ook
                                | Grimbert Zingt en er komt zelfs een bandje! Kziet zitten, wordt
                                | een epische dag!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/bbq.jfif', alt='', style='width:200px;')

    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 25 september: How to be a guide 14u-17u
                            p(style="text-align:justify;")
                                | Wieder zien grimmies, dus wieder zien sws lekker,
                                | ma bovenal zien we echte scouters en da gaan we
                                | vandaag bewijzen!!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 2 oktober: Ploggen 14u-17u
                            p(style="text-align:justify;")
                                | Ik ben bere gelukkig vandaag, waarom? Ik ga niet alleen iets goed doen
                                | voor de natuur, maar ik ga dan ook nog eens een super cool spel
                                | spelen! #can’tw8
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 5-9 oktober: Leefweek
                            p(style="text-align:justify;")
                                | 3 e keer, goede keer? Ik (Sien), ben super
                                | enthousiast omdat het leefweek is. WAAAAAAT?
                                | Een hele week met de leiding samen zijn, help zeg!
                                | Maar komt goed. Ik heb gehoord dat we verdere
                                | informatie nog krijgen via mail en FB! ZIIIN INNNNNN
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 15-17 oktober: Weekend
                            p(style="text-align:justify;")
                                | Mo vint toch, wij springen ons een gat in de lucht,
                                | want er staat weer een weekend voor de deur!!!!
                                | Yeeehaaw. Meer info volgt!!!! x
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/tent.jfif', alt='', style='width:200px;')


    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 22 oktober: Dag van de jeugdbeweging 14u-17u
                                p(style="text-align:justify;")
                                    | Dag van de jeugdbeweging!!
                                    | Het is geen vergadering vandaag, maar wel een belangrijke opdracht...
                                    | Ga in scoutsuniform naar school en verdedig ons sterke grimmiegeslacht!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/fluo.jfif', alt='', style='width:200px;')

    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 23 oktober: Infiltratie 19u30-22u
                            p(style="text-align:justify;")
                                | Ik heb mijn fluovest alvast aangedaan voor de ultravette infiltratie
                                | vanavond! Waar we precies moeten staan zal de leiding nog wel
                                | laten weten zeker? Alez khoop het!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 30 oktober: Helloween 14-17u
                            p(style="text-align:justify;")
                                | Het is helloween!!!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/helloween.jfif', alt='', style='width:200px;')


    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 6 november: Bos 14u-17u
                            p(style="text-align:justify;")
                                | Tijd voor bosspelletjes!!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 13 november: Herfstwandeltocht
                            p(style="text-align:justify;")
                                | Info volgt later!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 20 november: Hondenasiel
                            p(style="text-align:justify;")
                                | WHO LET THE DOGS OUT??? Ewel é, vandaag zullen wij dat doen.
                                | Kom allemaal om 14u met jullie fiets naar de lokalen en hopelijk zijn
                                | we op 17u terug nadat we een paar hondjes vreet gelukkige
                                | gemaakt hebben.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 27 november: Camping kitch 14u-17u
                            p(style="text-align:justify;")
                                | Allen aanwezig in jullie meest kitchy outfit!!
                                | #gokitchorgohome #lekker #zinin
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 4 december: Sinterklaas 20u-22u
                            p(style="text-align:justify;")
                                | Daar wordt aan de deur geklopt... Zacht geklopt,
                                | hard geklopt Daar wordt aan de deur geklopt... Wie
                                | zou dat zijn? Tis toch geen lekkere grimmie? ... Dag
                                | lieve kinderen, kom op vrijdag (!) om 20u naar mijn
                                | boot aka grimmielokalen. Om 22u gaan jullie weer
                                | naar mama en papa toe. Tot dan mijn lieve kinderen
                                | Oja, dit jaar zijn er (hopelijk?) geen stoute
                                | kinderen...
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/sint.jfif', alt='', style='width:150px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 11 december: Theekransje 14u-17u
                            p(style="text-align:justify;")
                                | Gidsen: “Maar leidingggggggggggg, wij
                                | hebben koud en willen binnen zitten en gezellig een kopje thee drinken. …”
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100

    // end prog_kapoenen section