extends ../layout

block content

    body
        // hero area
        .hero-area.hero-bg
            .container
                .row
                    .col-lg-9.offset-lg-2.text-center
                        .hero-text
                            .hero-text-tablecell
                                p.subtitle #{description}
                                h1 #{titel}
                                .hero-btns
        // end hero area

    .mt-150
        .container
            .row
                .col-lg-8.offset-lg-2.text-center
                    .section-title
                        h3
                            | Grimmix
                        p
                            | SEPTEMBER - DECEMBER
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 11 september: Vriendjesdag 14u-17u
                            p(style="text-align:justify;")
                                | We spreken af om 14u aan de lokalen voor een toffe middag vol plezier. Vandaag mogen jullie allemaal jullie vriendjes meenemen. Zo kunnen ze Grimmertinge beter leren kennen. Om 17u mogen jullie huiswaarts keren.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/vriendjes.jfif', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 18 september: Overgang 14u-17u
                            p(style="text-align:justify;")
                                | Een nieuw jaar, een nieuwe start! We zetten het jaar spetterend in om 14u aan de lokalen! Om 17u is de overgang gedaan en kunnen jullie samen met het ganse gezin naar de BBQ. Hier zullen jullie ook te weten komen wie jullie leiding wordt dit jaar!
            .col-lg-4.col-md-6.text-center
                .align-content-center
                    .content
                        img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 25 september: Kennismakingsvergadering 14u-17u
                            p(style="text-align:justify;")
                                | Ik ben Grimmie, Grimmie is de max! Vandaag leren we elkaar beter kennen! Kom allemaal om 14u naar het lokaal. Om 17u mogen jullie moe en voldaan naar huis!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 2 oktober: Wereld vergadering 14u-17u
                            p(style="text-align:justify;")
                                | Kom verkleed in je favoriete land! Samen gaan we met ons kompas op wereldreis! Het vliegtuig vertrekt om 14u aan de lokalen en landt om 17u terug in de Koude keuken.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/wereldbol.jpg', alt='', style='width:150px; height:150px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 9 oktober: Twee tot vijfje 14u-17u
                            p(style="text-align:justify;")
                                | Vandaag verwachten we jullie om 14u aan de lokalen in uniform voor een echte scouteske namiddag! Om 17u mogen jullie naar huis!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 16 oktober: Dierenvergadering 14u-17u
                            p(style="text-align:justify;")
                                | Knorrr, beuhhh, mèèèh. Vandaag mogen jullie om 14u in jullie favoriete dier naar de lokalen komen. Om 17u mag de beestenboel weer opgehaald worden.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/dieren.jfif', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 23 oktober: Omgekeerde vergadering 14u-17u
                            p(style="text-align:justify;")
                                | Gaadnav nekerps ew fa mo 14u naa teh laakol. Mo 17u tgidnie ed gniredagrev.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 30 oktober: Halloween 18u-20u
                            p(style="text-align:justify;")
                                | SNOEP OF JE LEVEN!!!! Komen jullie mee griezelen in de Koude Keuken (met een volle maag)? We spreken af om 18u aan het lokaal. Kom allemaal verkleed in een griezelig wezen. Om 20u mogen de monsters en heksjes met de bezems terug naar huis.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/helloween.jfif', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 6 – 7 november: Weekend
                            p(style="text-align:justify;")
                                | We gaan op weekend!!!!!! Meer info volgt nog, maar omcirkel de datum alvast met rood in je agenda.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 13 november: Herfstwandeltocht
                            p(style="text-align:justify;")
                                | Zet je beste beentje voor, want de allercoolste wandeltocht gaat dit jaar weer door! Meer info volgt nog, maar hou de datum zeker vrij!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/wandel.jfif', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 20 november: Stadsspel 14u-17u
                            p(style="text-align:justify;")
                                | We spreken om 14u af aan het concertgebouw (aan de kant van het Zand). Na een spectaculair stadsspel spreken we om 17u weer af op dezelfde plaats waar jullie ouders jullie weer kunnen komen halen.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 27 november: Sportvergadering 10u-12u
                            p(style="text-align:justify;")
                                | 1, 2, 3, 4, hup naar achter, hup naar voor... Kom om 10u naar het lokaal in sportkledij! Na een vermoeiende ochtend mogen jullie om 12u thuis gaan douchen!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/sport.jfif', alt='', style='width:250px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 4 december: Sinterklaas
                            p(style="text-align:justify;")
                                | Sinterklaas kapoentje, gooi wat in mijn schoentje, gooi wat in mijn laarsje danku Sinterklaasje... Vandaag komt Sinterklaas vanuit Spanje naar de lokalen. Omdat Sinterklaas zijn exacte agenda nog niet heeft vastgelegd, maakt hij het precieze uur later pas bekend.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/Grimmix/sint.jfif', alt='', style='width:150px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 11 december: Ontbijt 9u-11u
                            p(style="text-align:justify;")
                                | Smullen maar! Vandaag mag je uitslapen, want thuis ontbijten hoeft vandaag niet! We jullie om 9u in warme pyjama aan de lokalen. Om 11u mogen jullie met volle buik weer naar huis rollen!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100
        .container
            .row
                .col-lg-8
                    .single-article-section
                        .single-article-text
                            h2 Besluit
                            p(style="text-align:justify;")
                                | Zo! Het eerste deel van het jaar is al voorbij! Hopelijk hebben jullie je net zo hard geamuseerd als wij en zien we jullie allemaal terug in de volgende vergaderingen!
                                | Veel liefs, jullie (nu nog geheime) kapoenenleiding
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='', alt='', style='width:200px;')
    .mt-100

    // end prog_kapoenen section