// logo carousel
.logo-carousel-section
    .container
        .row
            .col-lg-12
                .logo-carousel-inner
                    .single-logo-item
                        img(src='img/company-logos/fribona.png', alt='')
                    .single-logo-item
                        img(src='img/company-logos/ecosia.png', alt='')
                    .single-logo-item
                        img(src='img/company-logos/hopper.png', alt='', style='width:99px; height:168px;')
                    .single-logo-item
                        img(src='img/company-logos/stad_brugge.png', alt='')
                    .single-logo-item
                        img(src='img/company-logos/scoutsgidsenvl.png', alt='', style='width:99px; height:168;')
// end logo carousel

// footer
.footer-area
    .container
        .row
            .col-lg-3.col-md-6
                .footer-box.about-widget
                    h2.widget-title Over ons
                    p(style="text-align:justify;")
                        | Scouts Grimmertinge is de scouts waar jong en oud zich écht thuis voelt. Elke zaterdag staan wij paraat om onze leden een zalige, avontuurlijke, waardevolle, scouteske namiddag te bezorgen. Van de allerkleinsten tot het oudercomité, bij ons is iedereen welkom!
            .col-lg-3.col-md-6
                .footer-box.get-in-touch
                    h2.widget-title Ons adres
                    ul
                        li Legeweg 269b
                        li 8200 Sint-Andries
                        // hier dan een kaartje?
                        // li support@fruitkha.com
                        // li +00 111 222 3333
            .col-lg-3.col-md-6
                .footer-box.pages
                    h2.widget-title Pagina's
                    ul
                        li
                            a(href='home') Home
                        li
                            a(href='takkenwerking') Werking

                            //ul
                                li
                                    a(href='takkenwerking') Takkenwerking
                                li
                                    a(href='inschrijven') Inschrijven
                                li
                                    a(href='uniform') Uniform
                                li
                                    a(href='oudercomite') Oudercomité
                        li
                            a(href='programma_kapoenen') Programmaboekje
                        li
                            a(href='verhuur') Verhuur
                        li
                            a(href='groepsleiding') Contact
            .col-lg-3.col-md-6
                .footer-box.subscribe
                    h2.widget-title Sociale Media
                    p(style="text-align:justify;") Volg ons op Facebook om van alles op de hoogte te blijven!
                        .social-icons
                            ul
                                li
                                    a(href='https://www.facebook.com/scoutsgrimmertinge/', target='_blank')
                                        p Facebookpagina Scouts Grimmertinge
                                //li
                                    a(href='#', target='_blank')
                                        i.fab.fa-twitter
                                //li
                                    a(href='https://www.instagram.com/grimmie_gidsen/', target='_blank')
                                        i.fab.fa-instagram
                                // li
                                    a(href='#', target='_blank')
                                        i.fab.fa-linkedin
                                // li
                                    a(href='#', target='_blank')
                                        i.fab.fa-dribbble

                    //form(action='index.html')
                        input(type='email', placeholder='Email')
                        button(type='submit')
                            i.fas.fa-paper-plane
// end footer
// copyright
.copyright
    .container
        .row
            .col-lg-6.col-md-12
                p
                    | Copyrights &copy; 2019 -
                    a(href='https://imransdesign.com/') Imran Hossain
                    | ,  All Rights Reserved.
            .col-lg-6.text-right.col-md-12
                .social-icons
                    ul
                        li
                            a(href='https://www.facebook.com/scoutsgrimmertinge/', target='_blank')
                                i.fab.fa-facebook-f
                        //li
                            a(href='#', target='_blank')
                                i.fab.fa-twitter
                        li
                            a(href='https://www.instagram.com/grimmie_gidsen/', target='_blank')
                                i.fab.fa-instagram
                        // li
                            a(href='#', target='_blank')
                                i.fab.fa-linkedin
                        // li
                            a(href='#', target='_blank')
                                i.fab.fa-dribbble
// end copyright