// jquery
script(src='js/jquery-1.11.3.min.js')
// bootstrap
script(src='bootstrap/js/bootstrap.min.js')
// count down
script(src='js/jquery.countdown.js')
// isotope
script(src='js/jquery.isotope-3.0.6.min.js')
// waypoints
script(src='js/waypoints.js')
// owl carousel
script(src='js/owl.carousel.min.js')
// magnific popup
script(src='js/jquery.magnific-popup.min.js')
// mean menu
script(src='js/jquery.meanmenu.min.js')
// sticker js
script(src='js/sticker.js')
// main js
script(src='js/main.js')


