extends ../layout

block content

    //hero area
    .hero-area.hero-bg
        .container
            .row
                .col-lg-9.offset-lg-2.text-center
                    .hero-text
                        .hero-text-tablecell
                            p.subtitle Werking
                            h1 #{titel}
                            .hero-btns
    //end hero area

    section.cart-banner.pt-100.pb-100
        .container
            .row.clearfix
                // Content Column
                .content-column.col-lg-6
                    h2 Inschrijving voltooid
                    h4 Welkom in de scouts
                    //.text
                        | Quisquam minus maiores repudiandae nobis, minima saepe id, fugit ullam similique! Beatae, minima quisquam molestias facere ea. Perspiciatis unde omnis iste natus error sit voluptatem accusant

                    a.cart-btn.mt-3(href='home')
                        i.fas.fa-home
                        |  Terug naar de startpagina