extends ../layout
block content

    body
        // hero area
        .hero-area.hero-bg
            .container
                .row
                    .col-lg-9.offset-lg-2.text-center
                        .hero-text
                            .hero-text-tablecell
                                p.subtitle Werking
                                h1 #{titel}
                                .hero-btns
        // end hero area


        // contact form
        .contact-from-section.mt-150.mb-150
            .container
                .row
                    .col-lg-8.mb-5.mb-lg-0
                        .form-title
                            h2 Wil je een kind inschrijven?
                            p(style="text-align:justify;")
                                | Voer volgende gegevens in! Wij zullen u vervolgens een bevestigingsmail zenden.
                        #form_status
                        .contact-form
                            form(method='POST' action='')
                                p
                                    label(for='first_name') Voornaam:
                                    input#first_name.form-control(type='text', placeholder='Bv Marthe', name='first_name', required='true' value=(undefined===lid ? '' : lid.first_name) )
                                    <br>
                                    label(for='family_name') Achternaam:
                                    input#family_name.form-control(type='text', placeholder='Bv Beke', name='family_name', required='true' value=(undefined===lid ? '' : lid.family_name) )
                                    <br>

                                    label(for='gsm_ouder') Telefoon nummer ouder of voogd:
                                    input#gsm_ouder.form-control(type='text', placeholder='Bv 0498/758965', name='gsm_ouder', required='true' value=(undefined === lid ? '' : lid.gsm_ouder) )
                                    <br>

                                    label(for='email_ouder') Email adres ouder of voogd:
                                    input#email_ouder.form-control(type='text', placeholder='Bv naam@hotmail.com', name='email_ouder', required='true' value=(undefined === lid ? '' : lid.email_ouder) )
                                    <br>

                                    label(for='groep') Groep:
                                    input#groep.form-control(type='text', placeholder='Bv Kapoenen, Kabouters, Jonggidsen of Gidsen', name='groep', required='true' value=(undefined === lid ? '' : lid.groep) )
                                    <br>

                                    label(for='date_of_birth') Geboortedatum:
                                    input#date_of_birth.form-control(type='date', name='date_of_birth' required='true' value=(undefined===lid ? '' : lid.date_of_birth) )

                                    //input(type='hidden', name='token', value='FsWga4&@f6aw')
                                p
                                    button.btn.btn-primary(type='submit') Inschrijven
                                        // , formaction="/mail.php"
                            if errors
                                ul
                                    for errors in errors
                                        li!=error.msg
                    //
                        #ticket.w3-container.w3-content.w3-center.w3-padding-64(style='max-width:800px')
                           .w3-row-padding
                                form.w3-container.w3-card-4(method='POST' action='')
                                    h3 Lid inschrijven
                                        .w3-section
                                            br
                                            input.w3-input(type='text' placeholder='Voornaam' name='first_name' required='true' value=(undefined === lid ? '' : lid.first_name) )
                                        .w3-section
                                            input.w3-input(type='text' placeholder='Achternaam' name='family_name' required='true' value=(undefined === lid ? '' : lid.family_name) )
                                        .w3-section
                                            input.w3-input(type='text' placeholder='E-mail' name='email_ouder' required='true' value=(undefined === lid ? '' : lid.email_ouder) )
                                        .w3-section
                                            input.w3-input(type='text' placeholder='Telefoon nummer' name='gsm_ouder' required='true' value=(undefined === lid ? '' : lid.gsm_ouder) )
                                        .w3-section
                                            input.w3-input(type='text' placeholder='Geboorte datum lid' name='date_of_birth' required='true' value=(undefined === lid ? '' : lid.date_of_birth) )
                                        .w3-section
                                            input.w3-input(type='text' placeholder='Groep' name='groep' required='true' value=(undefined === lid ? '' : lid.groep) )
                                        .w3-section.w3-padding-24
                                            button.w3-btn.w3-theme(type='submit') Schrijf in!
                                if errors
                                    ul
                                        for errors in errors
                                            li!=error.msg
                    .col-lg-4
                        .contact-form-wrap
                            .contact-form-box
                                h4
                                    i.far.fa-money-bill-alt
                                    |  Inschrijvingsgeld
                                p
                                    | €49 <br>
                                    br
                                    | Na inschrijving over te schrijven op BE79 0014 6967 9433 met als vermelding: <br>
                                    br
                                    | inschrijving 2021/2022 - naam en tak
                            .contact-form-box
                                h4
                                    i.far.fa-clock
                                    |  Activiteiten
                                p
                                    | Elke zaterdag: 14u - 17u

                            .contact-form-box
                                h4
                                    i.fas.fa-address-book
                                    |  Contact
                                p
                                    |  Email: groepsleiding@grimmertinge.be
        // end contact form
        if errors
            ul
                for error in errors
                    li!= error.msg

