extends ../layout

block content

    body
        // hero area
        .hero-area.hero-bg
            .container
                .row
                    .col-lg-9.offset-lg-2.text-center
                        .hero-text
                            .hero-text-tablecell
                                p.subtitle #{description}
                                h1 #{titel}
        // end hero area

        // Oudercomité uitleg
        .contact-from-section.mt-150.mb-150
            .container
                .row
                    .col-lg-8.mb-5.mb-lg-0
                        .form-title
                            h2 Het oudercomité staat open voor nieuwe leden
                            p(style="text-align:justify;")
                                | Het oudercomité van Scouts Grimmertinge doet een warme oproep naar nieuwe kandidaten om mee deel uit te maken van het oudercomité.
                            ul(style="text-align:justify;")
                                li
                                    p Bent u praktisch van aanleg? Water, elektriciteit, dak, isoleren, schilderen,…
                                li
                                    p Houdt u van organiseren?
                                li
                                    p Wilt u weer die scoutssfeer van weleer proeven?
                                li
                                    p Hebt u goeie administratieve kwaliteiten? Bijvoorbeeld instaan voor de verhuringen van de lokalen, verzekeringen, energiebesparende maatregelen, juridisch, financieel of fiscaal…
                                li
                                    p Wilt u een positieve bijdrage leveren aan de scouts van je kind(eren)?
                                li
                                    p Wilt u deel uitmaken van een hele toffe bende?
                                li
                                    p Bent u graag bezig met websites, multimedia,…..?

                            p(style="text-align:justify;")
                                | Kom vrijblijvend eens proeven van de sfeer op een volgende activiteit, iedereen is hartelijk welkom!
                    .col-lg-4
                        .contact-form-wrap
                            .contact-form-box
                                h4
                                    i.far.fa-calendar-check
                                    |  Avondvergaderingen
                                p
                                    |  Vier keer per jaar samenzitten met de groepsleiding
                            .contact-form-box
                                h4
                                    i.far.fa-calendar-check
                                    |  Werkvergaderingen
                                p
                                    | Twee keer aan de lokalen op een zaterdag klussen
                            .contact-form-box
                                h4
                                    i.far.fa-calendar-check
                                    | Evenementen
                                p
                                    | Een handje toesteken op de herfstwandeltocht, de overgang en het ontbijt.

                            .contact-form-box
                                h4
                                    i.fas.fa-address-book
                                    |  Contact
                                p
                                    |  Barbara Vanderbeke: bvanderbeke@hotmail.com
        // end oudercomité uitleg