extends ../layout

block content

    body
        // hero area
        .hero-area.hero-bg
            .container
                .row
                    .col-lg-9.offset-lg-2.text-center
                        .hero-text
                            .hero-text-tablecell
                                p.subtitle #{description}
                                h1 #{titel}
                                .hero-btns
        // end hero area

    .mt-150
        .container
            .row
                .col-lg-8.offset-lg-2.text-center
                    .section-title
                        h3
                            | Kapoenen
                        p
                            | 1e & 2e leerjaar
            .row
                .col-lg-6.col-md-6.mb-4.mb-md-5.offset-lg-2
                    .align-content-center
                        .content
                            p(style="text-align:justify;")
                                | De kapoenen leren op een speelse manier in groep leven en spelen.  Na dag één hebben ze er meteen minstens 20 vriendinnetjes bij. Hun levendige fantasie zorgt ervoor dat ze op reis kunnen naar eender waar, met eender wie, om eender welk probleem op te lossen.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/TW_groepsfotos/TW_kapoenen.jpg', alt='')

        .container
            .row
                .col-lg-8.offset-lg-2.text-center
                    .section-title
                        p
                            | !{' '}
                        h3
                            | Kabouters
                        p
                            | 3e, 4e & 5e leerjaar
            .row
                .col-lg-6.col-md-6.mb-4.mb-md-5.offset-lg-2
                    .content
                        p(style="text-align:justify;")
                            | De kabouters leren al wat meer dingen zelf doen. Het is een enthousiaste bende die al echt samen kan spelen. Lang stilzitten is niet aan deze nieuwsgierige kadetten besteed. Ze halen graag kattekwaad uit en mogen geregeld hun creatieve talenten bovenhalen.
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/TW_groepsfotos/YW_Kabouters.jpg', alt='')
        .container
            .row
                .col-lg-8.offset-lg-2.text-center
                    .section-title
                        h3
                            | Jonggidsen
                        p
                            | 6e leerjaar, 1e & 2e middelbaar
            .row
                .col-lg-6.col-md-6.mb-4.mb-md-5.offset-lg-2
                    .content
                        p(style="text-align:justify;")
                            | Ze zijn stilaan 'groot' aan het worden en mogen de echte wereld gaan verkennen. De spelen worden al heel wat avontuurlijker en de vriendengroep heel wat hechter. In de zomer gaan ze voor het eerst op tentenkamp waar ze leren sjorren, kaartlezen, vuur maken, …
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/TW_groepsfotos/TW_jonggidsen.jpg', alt='')
        .container
            .row
                .col-lg-8.offset-lg-2.text-center
                    .section-title
                        h3
                            | Gidsen
                        p
                            | 3e, 4e & 5e middelbaar
            .row
                .col-lg-6.col-md-6.mb-4.mb-md-5.offset-lg-2
                    .content
                        p(style="text-align:justify;")
                            | De gidsen zijn nu de oudste en worden al zelfstandiger. Deze jonge ondernemers nemen zelf beslissingen en bouwen samen aan een gezamenlijk doel. Samen beleven ze avonturen waarvan ze de herinneringen levenslang zullen koesteren! De vriendschappen die hier ontstaan zijn voor het leven. De gidsen gaan ook om de 3 jaar op buitenlands kamp om nog meer de wereld te ontdekken!
                .col-lg-4.col-md-6.text-center
                    .align-content-center
                        .content
                            img(src='img/TW_groepsfotos/TW_gidsen.jpg', alt='')
        .container
            .row
                .col-lg-8.offset-lg-2.text-center
                    .section-title
                        h3
                            | !{' '}

    // end takkenwerking section